.page-childs-section{
    padding-top:66px;
    background-image: url(../img/infuse-vector-lines.svg);
    background-repeat: no-repeat;
    background-position: center right;
    @media only screen and (max-width: 1644px) {
        background-size: 20%;
    }
    @include media-breakpoint-down(lg) {
        background-image: none;
    }
    &.who-we-serve {
        background-position: center right 88px;
        @media only screen and (max-width: 1644px) {
            background-size: inherit;
            background-position: center right -10%;
        }
        @media only screen and (max-width: 1280px) {
            background-position: center right -40%;
        }
        @media only screen and (max-width: 1199px) {
            background-image: none!important;
            padding-top: 55px!important;
            padding-bottom: 0 !important;
        }
    }
    @media (max-width: 1440px) {
        padding-top: 45px;
    }
}

.child-col {
    .child-item {
        width: 276px;
        .wwd-separator{
            width: 29px;
            height: 5px; 
            background-color: #FE8836;
            margin-bottom: 26px;
        }    
        .wwd-title {
            font-size: 24px;
            width: 220px;
            font-weight: bold !important;
            line-height: 30px;
            @media (max-width: 1440px) {
                font-size: 20px;
                line-height: 26px;
            }
        }
        .wwd-spacer {
            height: 1px;
            background-color: #333333;
            margin-top: 12px;
            margin-bottom: 18px;
            @media only screen and (max-width: 1199px) {
                width: 100%;
            }
        }
        .wwd-url-box {
            margin-bottom: 70px;
            a.wwd-url {
                font-size: 15px;
                line-height: 19px;
                color: #333333;
                text-transform: uppercase;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                span {
                    width: 185px;
                    display: inline-block;
                }
                i {
                    color: $secondary;
                    float: right;
                    font-size: 18px;
                }
                &:hover {
                    text-decoration:none;
                    color: #FE8836;
                    i {
                        color: #333333;
                    }
                }
            }
            @media (max-width: 1440px) {
                margin-bottom: 40px;
            }
            @media only screen and (max-width: 1199px) {
                width: 100%;
            }
        }
        @include media-breakpoint-down(sm) {
            width: 100%;
        }
    }

    &.two-columns {
        .child-item {
            width: 313px;
            .wwd-title {
                width: 100%;
            }
            .wwd-url-box {
                margin-bottom: 62px;
            }
            @include media-breakpoint-down(sm) { 
                width: 100%;
            }
        }
    }
    &.three-columns {
        .child-item {
            @include media-breakpoint-down(md) {
                width: 100%;
            }
        }
    }
}

.before-border {
    padding-left: 20px;
    margin-bottom: 33px;
    position: relative;
    &:before {
        content: '';
        width: 2px;
        height: 30px;
        background: #fe8836;
        transform: skew(-35deg);
        position: relative;
        top: 10px;
        position: absolute;
        top: -10px;
        left: 5px;
    }
    @include media-breakpoint-down(sm) {
        br {
            display: none;
        }
    }
}

.warning-text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 40px;
    position: relative;
    font-size: 18px;
    line-height: 29px;
    strong {
        font-size: 20px;
        margin-right: 10px;
        font-weight: 900;
        @include media-breakpoint-down(md) {
            font-size: 16px;
        }
    }
    &:before {
        content: url(/wp-content/uploads/2019/07/warning-icon.png);
        position: absolute;
        left: 0;
    }
    @include media-breakpoint-down(md) {
        font-size: 14px;
        line-height: 20px;
    }
}




// @media only screen and (max-width: 767px) {

//     .whatwedo-sub-banner-col {
//         border-left: 1px solid rgba(255, 255, 255, 0.33);
//         padding-top: 15px;
//         padding-bottom: 0px;
//         padding-left: 30px;
//         margin-bottom: 30px;
//         margin-top: 30px;
//         margin-left: 15px;
//     }
    
//     .whatwedo-sub-banner-title p{
//         margin-left: 10px;
//     }
    
//     .whatwedo-h1{
//         font-family: Muli,sans-serif!important;
//         font-weight: 900 !important;
//         line-height: 48px !important;
//         font-size:46px !important;
//         width: 100%;
//         width: 306px;
//     }
    
//     .whatwedoheader{
//         padding-top:75px;
//         padding-bottom:147px;
//     }
    
//     .whatwedo-h2 p{
//         font-family: Muli,sans-serif!important;
//         font-style: normal;
//         font-weight: bold !important;
//         font-size: 16px !important;
//         line-height: 25px !important;
//         color:white;
//         padding-top:40px;
//     }
    
//     .arrow-button{
//         display:none !important;
//     }
    
//     .whatwedo-sub-banner-content p{
//         font-family: Muli,sans-serif!important;
//         font-style: normal;
//         font-weight: bold !important;
//         font-size: 20px !important;
//         line-height: 27px !important;
//         color:white;
//     }
    
// }