#clientsList div.clients-col{ 
    display:none;
    opacity: 0;
    -webkit-transition: opacity 600ms, visibility 600ms;
    transition: opacity 600ms, visibility 600ms;
    visibility: hidden;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.clients-col{
    width:20%;
    float:left;
    text-align:center;
    margin:10px 0px;
    height: 130px;
    white-space: nowrap;
    text-align:center;
    @media screen and (max-width: 992px) {
        width:33.333%;
    }
    @media screen and (max-width: 768px) {
        height: 50px;
    }
    .helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
    img {
        vertical-align: middle;
        @media screen and (max-width: 1300px) {
            max-width: 100px;
        }
        @media screen and (max-width: 768px) {
            max-height: 40px;
            width: auto;
            max-width: 70px;
        }
    }
}

.clientButtonContainer{
    display: inline-block;
    width: 100%;
    text-align: center;
    button{
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        width:159px;
        height:49px;
        color:#1C3C70;
        border:1px solid #1C3C70;
        background-color:white;
        margin-top: 15px;
        &:hover{
            background-color:#1C3C70;
            color:white;
        }
        &:focus {
            outline: none;
            border-radius: 0;
        }
    }
}
