html {
    .flip-card {
        background-color: transparent;
        height: 577px;
        .flip-card-inner {
            position: relative;
            width: 100%;
            height: 100%;
            transition: transform 0.8s;
            transform-style: preserve-3d;
            display: inline-block;
            .flip-card-front, .flip-card-back {
                position: absolute;
                width: 100%;
                height: 100%;
                -webkit-backface-visibility: hidden; /* Safari */
                backface-visibility: hidden;
                border-bottom: 4px solid #1C3C70;
                box-shadow: 0px -0.602575px 3.92863px rgba(0, 0, 0, 0.0209473), 0px -0.901321px 6.60743px rgba(0, 0, 0, 0.0352419), 0px -2px 25px rgba(109, 109, 109, 0.15);
                .name {
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 29px;
                    color: #333333;
                    text-align: left;
                    padding: 50px 40px 14px;
                    &:before {
                        content: '';
                        width: 29px;
                        height: 5px;
                        background: #FE8836;
                        display: block;
                        margin-bottom: 15px;
                    }
                }
                .job-title {
                    font-weight: normal;
                    font-size: 17px;
                    line-height: 16px;
                    color: #828282;
                    text-align: left;
                    padding: 0 40px 38px;
                }
                .more-link {
                    font-family: Roboto, sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 15px;
                    line-height: 18px;
                    text-transform: uppercase;
                    color: #1C3C70;
                    padding: 0 40px 45px;
                    text-align: left;
                    &:after {
                        display: inline-block;
                        content: '\f178';
                        font-size: 19px;
                        padding-left: 10px;
                        font-family: "Font Awesome 5 Pro";
                        font-weight: lighter;
                        vertical-align: bottom;
                    }
                }
                .description {
                    padding: 0 40px;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 29px;
                }
            }
            .flip-card-front {
                text-align: center;
                display: flex;
                flex-direction: column;
                background: #fff;
                .image {
                    max-height: 365px;
                    width: auto;
                }
                .name {
                    &:before {
                        content: none;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
                // @include media-breakpoint-down(md) {
                //     .name {
                //         order: 1;
                //         text-align: center;
                //         &:before {
                //             content: '';
                //         }
                //     }
                //     .image {
                //         order: 2;
                //     }
                //     .job-title {
                //         order: 3;
                //         padding-top: 28px;
                //         text-align: center;
                //     }
                //     .description {
                //         order: 4;
                //         margin-bottom: 40px;
                //     }
                // }
            }
            
            .flip-card-back {
                background-color: #1C3C70;
                color: white;
                transform: rotateY(180deg);
                border-color: #FE8836;
                .name {
                    color: #fff;
                    padding-top: 40px;
                }
                .job-title {
                    font-weight: normal;
                    font-size: 17px;
                    line-height: 16px;
                    color: #fff;
                    padding-bottom: 28px;
                }
            }
        }
          /* Do an horizontal flip when you move the mouse over the flip box container */
        &:hover {
            .flip-card-inner {
                transform: rotateY(180deg);
                @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { 
                    transform: none;
                    .flip-card-back {
                        backface-visibility: inherit;
                        transform: none;
                    }
                }
                @include media-breakpoint-down(md) {
                    transform: none;
                }
            }
        } 
        @include media-breakpoint-down(md) {
            // height: auto;
        }
    }

    &.vc_mobile {
        .flip-card {
            height: auto;
            .flip-card-inner {
                .flip-card-front, .flip-card-back {
                    position: inherit;
                    border-bottom: 0;
                }
                .flip-card-front {
                    .name {
                        order: 1;
                        text-align: center;
                        &:before {
                            content: '';
                        }
                    }
                    .more-link {
                        display: none!important;
                    }
                    .image {
                        order: 2;
                    }
                    .job-title {
                        order: 3;
                        padding-top: 28px;
                        text-align: center;
                        padding-left: 15px;
                        padding-right: 15px;
                        padding-bottom: 20px;
                    }
                    .description {
                        order: 4;
                        margin-bottom: 40px;
                        padding-left: 15px;
                        padding-right: 15px;
                        display: inline-block!important;
                    }
                }
                .flip-card-back {
                    display: none!important;
                }
            }
        }
    }
}
