.revs {
  padding: 70px 0;
  background: #F5F5F5;
}

.revs img {
  display: block;
  width: 100%;
}

.revs__title {
  text-align: center;
  margin-bottom: 60px;
}

.revs-tabs {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.revs-tab:not(:last-child) {
  margin-right: 27px;
  padding-right: 27px;
  border-right: #1C3C70 solid 1px;
}

.revs-tab {
  min-height: 28px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.revs-tab-link {
  display: block;
  font-size: 22px;
  line-height: 24px;
  color: #1C3C70;
  border-bottom: transparent solid 2px;
  cursor: pointer;
  -webkit-transition: color .3s, border .3s;
  transition: color .3s, border .3s;
}

.revs-tab-link:hover {
  border-color: #1C3C70;
  text-decoration: none;
}

.revs-tab.active .revs-tab-link {
  color: #FE8836;
  border-color: transparent;
  pointer-events: none;
}

.revs-slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.revs-slide {
  width: 100%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.revs-slide.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  -webkit-transition: opacity .3s, visibility .3s;
  transition: opacity .3s, visibility .3s;
}

.revs-slide-inner {
  margin: 0 auto;
}

.revs-slide[data-revs="2019"],
.revs-slide[data-revs="2020"] {
  padding-top: 10px;
}

.revs-slide-inner--2020 {
  max-width: 1300px;
}

.revs-slide-inner--2021 {
  max-width: 1330px;
}

.revs-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -15px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.revs-col {
  padding: 0 15px;
  position: relative;
}

.revs-rev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  -webkit-box-shadow: 0px -2.49655px 31.2068px rgba(109, 109, 109, 0.15), 0px -1.1251px 8.24788px rgba(0, 0, 0, 0.0352419), 0px -0.75218px 4.90401px rgba(0, 0, 0, 0.0209473);
  box-shadow: 0px -2.49655px 31.2068px rgba(109, 109, 109, 0.15), 0px -1.1251px 8.24788px rgba(0, 0, 0, 0.0352419), 0px -0.75218px 4.90401px rgba(0, 0, 0, 0.0209473);
}

.revs-rev-left {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.revs-rev-right {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 5px 25px;
  font-size: 15px;
  line-height: 19px;
}

.revs-rev-name {
  color: #1C3C70;
  font-weight: 700;
}

.revs-rev-name span {
  font-weight: 400;
  color: #0097DD;
}

.revs-rev-pos {
  font-size: 13px;
  line-height: 22px;
  color: #BFBFBF;
}

.revs-rev-text {
  color: #585858;
  max-width: 300px;
  margin-top: 5px;
}

.revs-quote {
  text-align: center;
}

.revs-quote-text {
  font-size: 20px;
  line-height: 26px;
  color: #1C3C70;
  font-style: italic;
  font-weight: 400;
}

.revs-qu {
  position: absolute;
  width: 82px;
}

.revs-qu--s2 {
  width: 61px;
}

.revs-qu--o {
  left: 15px;
  top: 0;
}

.revs-qu--c {
  right: 15px;
  bottom: 0;
}

.revs-quote-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.revs-stars {
  width: 100%;
  max-width: 997px;
  margin: 0 auto;
  pointer-events: none;
}

.revs-stars img:nth-child(2) {
  display: none;
}

.revs-stars--1 {
  margin-top: -26px;
  margin-bottom: -58px;
}

.revs-stars--2 {
  margin-top: -16px;
  margin-bottom: -36px;
}

.revs-stars--3 {
  margin-top: -50px;
  margin-bottom: -22px;
  z-index: 1;
  position: relative;
}

.revs-col--f {
  width: 100%;
}

.revs-rev--s1 {
  height: 118px;
}

.revs-rev--s1 .revs-rev-left {
  width: 118px;
}

.revs-rev--s2 {
  height: 137px;
}

.revs-rev--s2 .revs-rev-left {
  width: 137px;
}

.revs-rev--s3 {
  height: 97px;
}

.revs-rev--s3 .revs-rev-left {
  width: 97px;
}

.revs-col--1-1 {
  width: 544px;
  padding-left: 56px;
  padding-top: 29px;
}

.revs-col--1-2 {
  width: 360px;
  padding-top: 42px;
}

.revs-col--1-3 {
  width: 110px;
  padding-top: 46px;
}

.revs-col--1-4 {
  width: 272px;
  padding-top: 42px;
}

.revs-col--1-5 {
  width: 446px;
  padding-top: 90px;
}

.revs-col--1-6 {
  width: 380px;
}

.revs-award--1-6 {
  width: 146px;
}

.revs-col--1-7 {
  width: 547px;
  padding-right: 31px;
  padding-bottom: 30px;
}

.revs-col--2-1 {
  width: 420px;
  padding-top: 31px;
  margin-left: 80px;
  margin-right: 60px;
}

.revs-quote--2-1 {
  width: 277px;
}

.revs-quote-img {
  width: 70px;
}

.revs-col--2-2 {
  width: 551px;
  padding-left: 83px;
  padding-top: 30px;
}

.revs-col--2-3 {
  width: 165px;
  padding-top: 26px;
}

.revs-col--2-4 {
  width: 469px;
  padding-right: 28px;
  padding-bottom: 33px;
  padding-top: 21px;
}

.revs-col--2-5 {
  width: 151px;
  padding-top: 26px;
}

.revs-col--2-6 {
  width: 461px;
  padding-top: 53px;
  margin-right: 10px;
}

.revs-quote--2-6 {
  width: 290px;
}

.revs-quote-cont--2-6 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.revs-col--3-1 {
  width: 370px;
  padding-top: 40px;
}

.revs-col--3-2 {
  width: 515px;
  padding-top: 30px;
  padding-left: 77px;
}

.revs-col--3-3 {
  width: 330px;
  padding-top: 45px;
  margin-right: 95px;
}

.revs-quote-img--3-3 {
  position: absolute;
  right: -100px;
  top: 250px;
}

.revs-col--3-4 {
  width: 145px;
  margin-top: -45px;
  margin-left: 15px;
}

.revs-col--3-5 {
  width: 590px;
  padding-top: 62px;
  margin-right: 60px;
  margin-left: 30px;
}

.revs-quote-img--3-5 {
  width: 163px;
  padding-bottom: 10px;
}

.revs-quote--3-5 {
  width: 330px;
}

.revs-col--3-6 {
  width: 550px;
  padding-right: 82px;
  padding-bottom: 30px;
}

.revs-col--3-7 {
  width: 181px;
  padding-top: 40px;
}

.revs-col--3-8 {
  width: 149px;
  margin-left: -40px;
  margin-right: 20px;
  margin-top: -155px;
}

@media only screen and (max-width: 1600px) {
  .revs-block {
    max-width: 1110px;
    margin: 0 auto;
  }
  .revs-col--1-2 {
    width: 240px;
  }
  .revs-col--1-4 {
    width: 240px;
  }
  .revs-col--1-5 {
    width: 280px;
  }
  .revs-col--1-6 {
    width: 176px;
  }
  .revs-col--2-1 {
    width: 400px;
    margin-right: 0;
    margin-left: 0;
  }
  .revs-col--3-1 {
    width: 210px;
    margin-left: 0;
    padding-top: 10px;
  }
  .revs-col--3-3 {
    width: 230px;
    padding-top: 30px;
    margin-right: 0;
  }
  .revs-quote-img--3-3 {
    top: 90px;
    left: auto;
    right: 0;
  }
  .revs-col--3-4 {
    margin-top: -45px;
    margin-left: 0;
  }
  .revs-col--3-5 {
    width: 410px;
    margin-right: 20px;
    margin-left: 0;
  }
  .revs-quote--3-5 {
    width: 260px;
  }
  .revs-col--3-7 {
    padding-top: 30px;
  }
  .revs-col--3-8 {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 1279px) {
  .revs-col {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }
  .revs__title {
    margin-bottom: 45px;
  }
  .revs-col--1-2,
  .revs-col--1-4 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .revs-col--1-2 {
    margin-left: 80px;
    padding-top: 0;
    width: 360px;
  }
  .revs-col--1-4 {
    margin-right: 80px;
    padding-top: 27px;
    width: 272px;
  }
  .revs-col--1-3 {
    margin-right: 160px;
  }
  .revs-col--1-6 {
    width: 163px;
  }
  .revs-col--f1,
  .revs-col--1-1,
  .revs-col--1-3,
  .revs-col--1-7 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .revs-stars {
    max-width: 710px;
  }
  .revs-stars--1 {
    margin-bottom: -20px;
  }
  .revs-col--1-5 {
    margin-right: 90px;
    width: 446px;
  }
  .revs-col--1-7 {
    margin-left: 600px;
    margin-bottom: -75px;
  }
  .revs-col--1-6 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    margin-left: 160px;
  }
  .revs-award--1-6 {
    width: 100%;
  }
  .revs-col--1-2 {
    margin-left: 86px;
  }
  .revs-col--1-4 {
    margin-right: 0;
  }
  .revs-quote--1-4 {
    text-align: right;
  }
  .revs-col--1-3 {
    margin-right: 75px;
    margin-top: -15px;
  }
  .revs-col--1-1 {
    margin-top: -35px;
  }
  .revs-col--1-7 {
    margin-left: 190px;
  }
  .revs-col--1-6 {
    margin-left: 17px;
  }
  .revs-col--1-5 {
    margin-right: 100px;
  }
  .revs-stars--1 {
    margin-top: -10px;
  }
  .revs-col--2-1 {
    width: 186px;
    padding-top: 0;
  }
  .revs-quote-img--2-1 {
    position: absolute;
    right: 0;
    top: 125px;
  }
  .revs-stars--2 {
    margin-top: 54px;
  }
  .revs-col--f2,
  .revs-col--2-1,
  .revs-col--2-2,
  .revs-col--2-4,
  .revs-col--2-5,
  .revs-col--2-6 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .revs-stars--2 {
    margin-top: 50px;
    margin-bottom: -30px;
  }
  .revs-col--2-2 {
    margin-top: 20px;
  }
  .revs-col--2-5 {
    margin-top: -20px;
    margin-right: 90px;
  }
  .revs-col--2-6 {
    padding-top: 26px;
    width: 430px;
    margin-left: 36px;
  }
  .revs-quote-cont--2-6 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .revs-col--2-3 {
    margin-top: -12px;
    padding-top: 0;
    margin-right: -20px;
  }
  .revs-col--3-1,
  .revs-col--3-2,
  .revs-col--3-7,
  .revs-col--3-3 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .revs-col--3-1 {
    width: 370px;
    margin-left: 245px;
  }
  .revs-col--3-2 {
    margin-top: -10px;
    margin-left: 20px;
  }
  .revs-col--3-3 {
    width: 100%;
    margin-left: 0;
    padding-top: 0;
    padding-right: 15px;
    margin-top: 30px;
  }
  .revs-quote-img--3-3 {
    right: 35px;
    top: -150px;
  }
  .revs-col--f3 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .revs-col--3-4,
  .revs-col--3-6 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
  .revs-stars--3 {
    margin-top: 20px;
    margin-bottom: -15px;
  }
  .revs-col--3-4 {
    margin-top: 0;
    padding-top: 40px;
    margin-left: 15px;
  }
  .revs-col--3-6 {
    width: 550px;
  }
  .revs-col--3-5 {
    padding-top: 14px;
    width: 410px;
    margin-left: 90px;
  }
  .revs-quote--3-5 {
    text-align: left;
    width: 160px;
  }
  .revs-col--3-7 {
    padding-top: 100px;
    margin-right: 20px;
  }
  .revs-col--3-8 {
    width: 112px;
    margin-right: 130px;
    margin-top: 2px;
  }
}

@media only screen and (max-width: 767px) {
  .revs {
    padding: 30px 0 25px 0;
  }
  .revs__title {
    margin-bottom: 20px;
  }
  .revs-tabs {
    margin-top: 20px;
    position: relative;
  }
  .revs-tab:not(:last-child) {
    margin-right: 17px;
    padding-right: 17px;
  }
  .revs-tab {
    min-height: 24px;
  }
  .revs-tab-link {
    display: block;
    font-size: 14px;
    line-height: 14px;
    border-width: 1px;
  }
  .revs-row {
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: -40px;
  }
  .revs-qu {
    width: 49px;
  }
  .revs-qu--c {
    right: 15px;
    bottom: -17px;
  }
  .revs-rev {
    height: 85px;
  }
  .revs-rev-left {
    width: 85px !important;
  }
  .revs-rev-right {
    padding: 5px 5px 5px 15px;
  }
  .revs-rev-name {
    font-size: 10px;
    line-height: 12px;
  }
  .revs-rev-pos {
    font-size: 9px;
    line-height: 14px;
  }
  .revs-rev-text {
    font-size: 9px;
    line-height: 11px;
  }
  .revs-stars img:nth-child(1) {
    display: none;
  }
  .revs-stars img:nth-child(2) {
    display: block;
  }
  .revs-slide {
    padding-top: 0 !important;
  }
  .revs-row {
    margin-left: -10px;
    margin-right: -10px;
  }
  .revs-col {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 0 10px;
  }
  .revs-quote {
    text-align: left;
    margin: 0;
    padding: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: auto;
  }
  .revs-quote-text {
    font-size: 16px;
    line-height: 20px;
  }
  .revs-quote-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .revs-quote-img {
    width: 60px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 20px;
    position: static;
  }
  .revs-col--f {
    top: 97px;
    left: 0;
    position: absolute;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    z-index: 1;
  }
  .revs-stars {
    margin: 0;
  }
  .revs-col--1-1,
  .revs-col--2-2,
  .revs-col--3-2 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-bottom: 48px;
    padding-top: 30px;
    padding-left: 23px;
  }
  .revs-col--1-2,
  .revs-col--1-4,
  .revs-col--1-5,
  .revs-col--2-1,
  .revs-col--2-6,
  .revs-col--3-3,
  .revs-col--3-5 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .revs-col--1-7,
  .revs-col--2-4,
  .revs-col--3-1,
  .revs-col--3-6 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    padding-right: 23px;
  }
  .revs-col--1-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 5;
  }
  .revs-col--1-6 {
    width: 115px;
  }
  .revs-col--1-3 {
    width: 84px;
  }
  .revs-col--2-3 {
    width: 128px;
  }
  .revs-col--2-5 {
    width: 91px;
  }
  .revs-col--2-1 {
    padding-top: 10px;
  }
  .revs-col--2-1,
  .revs-col--2-6 {
    margin-bottom: 40px;
  }
  .revs-col--3-4 {
    width: 117px;
  }
  .revs-col--3-7 {
    width: 111px;
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
  }
  .revs-col--3-8 {
    width: 106px;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
}





.intro {
	background:#1C3C70;
}

.intro__block {
	min-height:660px;
	position:relative;
	overflow:hidden;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	-ms-flex-direction:column;
	flex-direction:column;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center;
}

.intro__block:after {
	background: linear-gradient(97.14deg, #1C3C70 26.38%, rgba(28, 60, 112, 0.76) 36.37%, rgba(28, 60, 112, 0) 53.63%, rgba(28, 60, 112, 0.17) 80.11%, rgba(28, 60, 112, 0.69) 99.45%);
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	width:1770px;
	content:'';
}

.intro__bg {
	position:absolute;
	right:0;
	top:50%;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
	height:100%;
	min-height:663px;
	width:auto;
}

.intro__bg img {
	width:auto;
	max-width:none;
	height:100%;
}

.cover--intro {
	position:relative;
	z-index:2;
	width:100%;
}

.intro__row {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center;
}

.intro__left {
	-ms-flex-negative:0;
	flex-shrink:0;
	max-width:500px;
}

.intro__text {
	font-size:30px;
	line-height:38px;
	font-weight:800;
	margin-bottom:33px;
	color:#fff;
}

.intro__ttl {
	font-size:100px;
	line-height:100px;
	text-transform:uppercase;
	letter-spacing:-.02em;
	font-weight:900;
	color:#fff;
}

.intro__right {
	-webkit-box-flex:1;
	-ms-flex-positive:1;
	flex-grow:1;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:end;
	-ms-flex-pack:end;
	justify-content:flex-end;
	margin-right:100px;
}

.intro__play {
}

.intro__play-icon {
	margin-bottom:6px;
	width:136px;
	height:136px;
	cursor:pointer;
	position:relative;
	display:block;
}

.intro__play-icon img {
	width:100%;
	height:100%;
	left:0;
	top:0;
	position:absolute;
}

.intro__play-r {
	-webkit-transition:all .3s;
	transition:all .3s;
}

.intro__play-text {
	font-size:16px;
	line-height:23px;
	color:#fff;
	text-align:center;
	font-weight:700;
	letter-spacing:.02em;
	text-transform:uppercase;
}

.intro__play-icon:hover .intro__play-r {
	-webkit-transform:scale(.7647);
	transform:scale(.7647);
}

.intro__bot {
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
}

.intro__item {
	width:33.333%;
	display:block;
	color:#fff;
	padding:0 20px;
	position:relative;
	overflow:hidden;
}

.intro__item:after {
	content:'';
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
}

.intro__item:hover {
	text-decoration:none;
}

.intro__item--1:after {
	background: linear-gradient(55.71deg, #EE3124 2.64%, #FAAA23 96.14%);
}

.intro__item--2:after {
	background: linear-gradient(215.13deg, #3ECEDD -38.87%, #005EAB 79.25%);
}

.intro__item--3:after {
	background-image: linear-gradient(93.4deg, #1C3C70 -12.03%, #1C3C70 3.04%, #1C3C70 19.45%, #1C3C70 27.97%, #132F77 46.94%, rgba(20, 47, 119, 0) 54.12%, rgba(20, 47, 119, 0) 72.23%);
}

.intro__item-bg {
	position:absolute;
	right:0;
	top:50%;
	height:100%;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
}

.intro__item-bg img {
	width:auto;
	max-width:none;
	height:100%;
	-webkit-transition:all .3s;
	transition:all .3s;
}

.intro__item-inner {
	height:100%;
	min-height:110px;
	width:100%;
	max-width:450px;
	margin:0 auto;
	padding:10px 0;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	justify-content:space-between;
	position:relative;
	z-index:1;
}

.intro__item-left {
	-webkit-box-flex:1;
	-ms-flex-positive:1;
	flex-grow:1;
	max-width:290px;
	font-weight:400;
}

.intro__item-text {
	font-size:13px;
	line-height:17px;
}

.intro__item-text b {
	font-weight:900;
}

.intro__item-text sup {
	vertical-align: super;
	font-size: 7px;
	line-height:9px;
	position:relative;
	top:-4px;
}

.intro__item-all {
	font-size:15px;
	line-height:19px;
	font-weight:500;
	letter-spacing:.02em;
	text-transform:uppercase;
}

.intro__item-arrow {
	margin-top:9px;
	width:23px;
	height:8px;
	overflow:hidden;
	position:relative;
	-webkit-transition:all .3s;
	transition:all .3s;
}

.intro__item-arrow svg {
	width:56px;
	height:8px;
	display:block;
	position:absolute;
	right:0;
	top:0;
}

.intro__item-img {
	-ms-flex-negative:0;
	flex-shrink:0;
	margin-left:20px;
}

a.intro__item:hover .intro__item-arrow {
	width:56px;
}

a.intro__item:hover .intro__item-bg img {
	-webkit-transform:scale(1.1);
	transform:scale(1.1);
}

@media only screen and (max-width: 2150px) {

.intro__right {
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center;
	margin-right:0;
}

}

@media only screen and (max-width: 1770px) {

	.intro__block:after {
		width:auto;
		left:0;
	}

	.intro__bg {
		left:19%;
		right:auto;
	}

}

@media only screen and (max-width: 1350px) {

	.intro__bg {
		left:-10%;
	}

	.intro__item-bg {
		right:-80px;
	}

}

@media only screen and (max-width: 1279px) {

	.intro__right {
		-webkit-box-pack:end;
		-ms-flex-pack:end;
		justify-content:flex-end;
	}

}

@media only screen and (max-width: 1000px) {

	.intro__bg {
		left:-30%;
	}

	.intro__item-bg {
		right:-120px;
	}

}

@media only screen and (max-width: 767px) {

	.intro__block {
		min-height:auto;
		padding:42px 0 32px;
	}

	.intro__bg {
		min-height:auto;
		left:auto;
		right:-1px;
		top:0;
		max-width:100%;
		-webkit-transform:none;
		transform:none;
		display:-webkit-box;
		display:-ms-flexbox;
		display:flex;
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
	}

	.intro__bg img {
		-webkit-transform:translateX(27.6%);
		transform:translateX(27.6%);
	}

	.intro__row {
		display:block;
	}

	.intro__left {
		max-width:300px;
		margin-bottom:22px;
	}

	.intro__text {
		font-size:18px;
		line-height:23px;
		margin-bottom:23px;
	}

	.intro__ttl {
		font-size:52px;
		line-height:52px;
		margin-bottom:23px;
	}

	.intro__right {
		display:block;
	}

	.intro__play {
		width:74px;
	}

	.intro__play-icon {
		width:74px;
		height:74px;
	}

	.intro__play-text {
		font-size:9px;
		line-height:13px;
	}

	.intro__bot {
		display:block;
	}

	.intro__item {
		width:100%;
	}

	.intro__item-inner {
		max-width:315px;
		min-height:128px;
	}

	.intro__item-bg {
		right:0;
		height:174px;
	}

}

@media only screen and (max-width: 500px) {

	.intro__item-bg {
		right:-100px;
	}

}

.intro__item-img img { max-width:135px; height: auto; }

.image-with-share {
	display: flex;
}
@media only screen and (max-width: 800px) {
	.image-with-share {
		flex-direction: column-reverse;
	}
    .image-with-share-button {
    	margin: 0 0 10px 0 !important;
    }
}
.image-with-share-image {
}
.image-with-share-button {

	flex-shrink: 0;
	flex-grow: 0;

	margin-left:10px;

	cursor:pointer;
}
.image-with-share-button-link-wrap{
	display: flex;
}
.image-with-share-button-link {
	width: 58px;
	height: 58px;
	background: #F1853B;
  display: flex;
	align-items:center;
	justify-content: center;
}
.image-with-share-button-link img:first-child{
	display: block;
}
.image-with-share-button-link img:nth-child(2){
	display:none;
}
.image-with-share-button.ok  .image-with-share-button-link {
	background: #3DAD21 !important;
}
.image-with-share-button.ok  .image-with-share-button-link img:first-child{
	display:none;
}
.image-with-share-button.ok  .image-with-share-button-link img:nth-child(2){
	display:block;
}
.image-with-share-ok{
	width: 101px;
	height: 58px;
	margin-left: 5px;
	background: #3DAD21;
    line-height:1.2;
	display:flex;
    font-size:16px;
	align-items:center;
	justify-content:center;
	color:#fff;
	font-weight:800;
	opacity: 0;
}
.image-with-share-button.ok .image-with-share-ok{
	opacity: 1;
}
.image-with-share-button-text {
	font-weight: 900;
	color: #585858;
  margin-top:10px;
}

.image-with-share-button:hover .image-with-share-button-link {
	background: #0097DD;
}

.image-with-share-button:hover .image-with-share-button-text {
	color: #0097DD;
	text-decoration: underline;
}

.image-with-share-button.ok .image-with-share-button-text {
	display:none;
}


.mypopup {
	display: none;
}
.mypopup.on{
	display: block;
}
.mypopup-bg {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.35);
	backdrop-filter: blur(3px);
	z-index:9000;
}
.mypopup-inner {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index:9999;
}
.mypopup-body {
	padding: 50px;
	background:#fff;
	width: 100%;
	max-width: 760px;
	position: relative;
	padding-top: 108px;
}
.mypopup-body:after{
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 9px;
	background: url('/wp-content/themes/infusemedia/frontend/images/popup-gradient.png');
	background-size: 100% 100%;
}
.mypopup-close {
	position: absolute;
	right: 20px;
	top: 20px;
	cursor: pointer;
}
.mypopup-close:hover{
	opacity: 0.75;
}
.mypopup-icon {
	position: absolute;
	left: 50%;
	top: -88px;
	transform: translate(-50%,0);
}
.mypopup-content {
	text-align: center;
}
.mypopup-title {
	font-weight: 800;
	font-size: 24px;
	max-width: 650px;
	margin: 0 auto;
	line-height: 1.2;
}
.mypopup-title span {
	color:#ff5500;
}

.mypopup-text {
	font-weight: 400;
	font-size: 20px;
	margin-top:30px;
	max-width: 470px;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.2;
}

@media only screen and (max-width: 767px) {
	.mypopup-body{
    	padding-left:30px;
        padding-right:30px;
    }
	.mypopup-title{
    	font-size:20px;
        max-width: 100%;
    }
    .mypopup-text{
    	font-size:16px;
        max-width: 100%;
    }
}

.image-only-mobile {margin-bottom: 0; display:none!important; text-align: center;}
@media only screen and (max-width:767px){.image-only-mobile{display:block!important}}


.core-values {
height:160px;
}
.core-values__link{
height:160px;
}
.core-values__cover{
margin-top:60px;
}
@media only screen and (max-width:767px){
.core-values {
height:65px;
}
.core-values__cover{
margin-top:15px;
}
.core-values__link{
height:65px;
}
}

.insights-listing .posts .insight-post .insights-article-container,text-dark .has-bg a.read-more-btn, .insights-listing .posts .insight-post .insights-article-container.text-dark .has-bg span.category {
	color:#1c3c70;
}
.insights-listing .posts .insight-post .insights-article-container.text-dark .has-bg .front-card .article-title{
	color:#1c3c70;
}


.insights__element-item.text-dark .insight__img+.insight__cover .insight__label {
	color:#1c3c70;
}

.insights__element-item.text-dark .insight__img+.insight__cover .insight__title{
	color:#1c3c70;
}

.insights__element-item.text-dark .insight__img+.insight__cover .insight__link{
	color:#1c3c70 !important;
}

.insights__element-item.text-dark .insight__img + .insight__cover .insight__link-icon-pointer {
	fill:#1c3c70 !important;
}

.insights-article .header_banner_no_form.text-dark .banner-text-wrapper .banner-type {
	color:#1c3c70;
}

.insights-article .header_banner_no_form.text-dark .banner-text-wrapper .banner-type:after {
	background:#1c3c70;
}

.insights-article .header_banner_no_form.text-dark .banner-text-wrapper .banner-title>* {
	color:#1c3c70;
}

.insights-article .header_banner_no_form.text-dark .banner-text-wrapper .banner-title:after {
	background:#1c3c70;
}

.insights-article .header_banner_no_form.text-dark .banner-text-wrapper .banner-date {
	color:#1c3c70;
}



/* glassdoor */


.gdoor__items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.gdoor-item {
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-transition: opacity .2s, visibility .2s;
  transition: opacity .2s, visibility .2s;
}

.gdoor-item:not(.active) {
  -webkit-transition: none;
  transition: none;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.gdoor-item__inner {
  position: relative;
  width: 100%;
}

.gdoor-item__inner--2017 {
  max-width: 1332px;
  height: 294px;
}

.gdoor-item__inner--2018 {
  max-width: 1220px;
  height: 323px;
}

.gdoor-item__inner--2019 {
  max-width: 1307px;
  height: 317px;
}

.gdoor-item__inner--2020 {
  max-width: 1345px;
  height: 303px;
}

.gdoor-item__inner--2021 {
  max-width: 1466px;
  height: 361px;
}

.gdoor-item__inner--2022 {
  max-width: 1340px;
  height: 350px;
  margin-left: 100px;
}

.gdoor-item__col {
  position: absolute;
}

.gdoor-item__col--more {
  z-index: 1;
  width: 100%;
  left: 0;
}

.gdoor-item__col--more-2020 {
  bottom: 15px;
}

.gdoor-item__col--more-2021 {
  bottom: 45px;
  padding-right: 50px;
}

.gdoor-item__col--more-2022 {
  bottom: 38px;
  padding-right: 100px;
}

.gdoor-item__col--2017-1 {
  left: 89px;
  top: 37px;
  width: 352px;
}

.gdoor-item__col--2017-2 {
  right: 0;
  top: 0;
  width: 820px;
}

.gdoor-item__col--2017-3 {
  right: 112px;
  bottom: 16px;
  width: 655px;
}

.gdoor-item__col--2017-4 {
  left: 0;
  bottom: 0;
  width: 535px;
}

.gdoor-item__col--2018-1 {
  right: 99px;
  top: 30px;
  width: 370px;
}

.gdoor-item__col--2018-2 {
  right: 99px;
  top: 79px;
  width: 370px;
}

.gdoor-item__col--2018-3 {
  left: 0;
  top: 0;
  width: 655px;
}

.gdoor-item__col--2018-4 {
  left: 134px;
  bottom: 40px;
  width: 308px;
}

.gdoor-item__col--2018-5 {
  right: 0;
  bottom: 0;
  width: 664px;
}

.gdoor-item__col--2019-1 {
  right: 92px;
  top: 60px;
  width: 260px;
}

.gdoor-item__col--2019-2 {
  left: 105px;
  top: 0;
  width: 791px;
}

.gdoor-item__col--2019-3 {
  left: 0;
  bottom: 35px;
  width: 458px;
}

.gdoor-item__col--2019-4 {
  right: 0;
  bottom: 0;
  width: 830px;
}

.gdoor-item__col--2020-1 {
  left: 119px;
  top: 37px;
  width: 225px;
}

.gdoor-item__col--2020-2 {
  right: 0;
  top: 0;
  width: 812px;
}

.gdoor-item__col--2020-3 {
  right: 130px;
  bottom: 15px;
  width: 230px;
}

.gdoor-item__col--2020-4 {
  left: 0;
  bottom: 0;
  width: 396px;
}

.gdoor-item__col--2021-1 {
  left: 511px;
  bottom: 91px;
  width: 380px;
}

.gdoor-item__col--2021-2 {
  left: 0;
  top: 0;
  width: 850px;
}

.gdoor-item__col--2021-3 {
  right: 0;
  top: 0;
  width: 512px;
}

.gdoor-item__col--2021-4 {
  left: 0;
  bottom: 0;
  width: 496px;
}

.gdoor-item__col--2021-5 {
  right: 0;
  bottom: 0;
  width: 552px;
}

.gdoor-item__col--2022-1 {
  left: 14px;
  top: 0;
  width: 560px;
}

.gdoor-item__col--2022-2 {
  right: 0;
  bottom: 14px;
  width: 390px;
}

.gdoor-item__col--2022-3 {
  right: 238px;
  top: 26px;
  width: 416px;
}

.gdoor-item__col--2022-4 {
  left: 0;
  bottom: 0;
}

.gdoor-item__col--2022-5 {
  right: 57px;
  top: 26px;
}

.gdoor-item__stars {
  position: absolute;
  width: 100%;
  left: 0;
}

.gdoor-item__stars--2017 {
  top: 102px;
}

.gdoor-item__stars--2018 {
  top: 108px;
}

.gdoor-item__stars--2019 {
  top: 108px;
}

.gdoor-item__stars--2020 {
  top: 83px;
}

.gdoor-item__stars--2021 {
  top: 111px;
}

.gdoor-item__stars--2022 {
  top: 108px;
  padding-right: 90px;
}

.gdoor-stars {
  margin: 0 auto;
  max-width: 996px;
}

.gdoor-simple {
  text-align: center;
  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
  font-style: italic;
  color: #8D8D8D;
}

.gdoor-simple--s2 {
  font-size: 18px;
}

.gdoor-more {
  position: relative;
  z-index: 1;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}

.gdoor-more__link {
  border-bottom: transparent solid 2px;
  color: #0DAA42 !important;
  text-decoration: none !important;
  -webkit-transition: border .2s;
  transition: border .2s;
}

.gdoor-more__link:hover {
  border-color: #0DAA42;
}

.gdoor-review {
  position: relative;
}

.gdoor-review:after {
  content: '';
  position: absolute;
  background-size: cover;
  background-position: center;
}

.gdoor-review--l {
  padding-left: 63px;
}

.gdoor-review--l:after {
  width: 76px;
  height: 56px;
  left: 0;
  background-image: url(/images/gdoor/quote-l.svg);
}

.gdoor-review--r {
  padding-right: 58px;
}

.gdoor-review--r:after {
  width: 71px;
  height: 52px;
  right: 0;
  background-image: url(/images/gdoor/quote-r.svg);
}

.gdoor-review--t {
  padding-top: 26px;
}

.gdoor-review--t:after {
  top: 0;
}

.gdoor-review--b {
  padding-bottom: 24px;
}

.gdoor-review--b:after {
  bottom: 0;
}

.gdoor-review__inner {
  background: #fff;
  -webkit-box-shadow: 0px -2.49655px 31.2068px rgba(109, 109, 109, 0.15), 0px -1.1251px 8.24788px rgba(0, 0, 0, 0.0352419), 0px -0.75218px 4.90401px rgba(0, 0, 0, 0.0209473);
          box-shadow: 0px -2.49655px 31.2068px rgba(109, 109, 109, 0.15), 0px -1.1251px 8.24788px rgba(0, 0, 0, 0.0352419), 0px -0.75218px 4.90401px rgba(0, 0, 0, 0.0209473);
  padding: 13px 36px 16px;
  font-size: 15px;
  line-height: 19px;
}

.gdoor-review__head {
  margin-bottom: 10px;
}

.gdoor-review__name {
  color: #BFBFBF;
}

.gdoor-review__name span {
  font-weight: 700;
  color: #1C3C70;
}

.gdoor-review__body {
  color: #585858;
  margin-bottom: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gdoor-review__col {
  margin-bottom: 15px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media only screen and (min-width: 768px) {
  .gdoor-review__col:nth-child(2n) {
    margin-left: 36px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

.gdoor-review__col--2017 {
  width: 188px;
}

.gdoor-review__col--2018 {
  width: 131px;
}

.gdoor-review__col--2019 {
  width: 232px;
}

.gdoor-review__col--2020 {
  width: 404px;
}

.gdoor-review__col--2021 {
  width: 295px;
}

.gdoor-review__text p {
  margin-bottom: 15px !important;
}

.gdoor-review__text p:last-child {
  margin-bottom: 0 !important;
}

.gdoor-recom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 97px;
  background: #fff;
  -webkit-box-shadow: 0px -2.49655px 31.2068px rgba(109, 109, 109, 0.15), 0px -1.1251px 8.24788px rgba(0, 0, 0, 0.0352419), 0px -0.75218px 4.90401px rgba(0, 0, 0, 0.0209473);
          box-shadow: 0px -2.49655px 31.2068px rgba(109, 109, 109, 0.15), 0px -1.1251px 8.24788px rgba(0, 0, 0, 0.0352419), 0px -0.75218px 4.90401px rgba(0, 0, 0, 0.0209473);
}

.gdoor-recom__p {
  font-size: 34px;
  line-height: 22px;
  color: #0CAA41;
  margin-right: 12px;
}

.gdoor-recom__p span {
  font-size: 22px;
}

.gdoor-recom__t {
  font-size: 20px;
  line-height: 22px;
  font-weight: 500;
  color: #585858;
  margin-top: 6px;
}

.gdoor-approve {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gdoor-approve__p {
  width: 110px;
  margin-right: 27px;
}

.gdoor-approve__t {
  font-size: 20px;
  line-height: 22px;
  font-weight: 500;
  color: #585858;
}

.gdoor-twp {
  width: 81px;
}

.gdoor-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: -30px;
}

.gdoor-nav__item {
  position: relative;
  margin-bottom: 30px;
}

.gdoor-nav__item:not(:last-child) {
  margin-right: 27px;
  padding-right: 27px;
}

.gdoor-nav__item:not(:last-child):after {
  content: '';
  display: block;
  width: 1px;
  height: 38px;
  background: #1C3C70;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.gdoor-nav__link {
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
  font-size: 22px;
  line-height: 1em;
  color: #BFBFBF;
  display: block;
  text-decoration: none !important;
  border-bottom: transparent solid 2px;
}

.gdoor-nav__link:hover {
  border-color: #BFBFBF;
}

.gdoor-nav__link.active {
  border-color: transparent !important;
  color: #0CAA41;
}

@media only screen and (max-width: 1599px) {
  .gdoor-item__inner {
    max-width: 1190px;
  }
  .gdoor-item__inner--2017 {
    height: 340px;
  }
  .gdoor-item__inner--2018 {
    height: 350px;
  }
  .gdoor-item__inner--2019 {
    height: 380px;
  }
  .gdoor-item__inner--2020 {
    height: 320px;
  }
  .gdoor-item__inner--2021 {
    height: 410px;
  }
  .gdoor-item__inner--2022 {
    height: 360px;
  }
  .gdoor-item__col--more-2020 {
    bottom: 25px;
  }
  .gdoor-item__col--more-2021 {
    bottom: 60px;
  }
  .gdoor-item__col--2017-1 {
    left: 80px;
    top: 18px;
    width: 293px;
  }
  .gdoor-item__col--2017-2 {
    width: 710px;
  }
  .gdoor-item__col--2017-3 {
    right: 94px;
    bottom: 30px;
    width: 590px;
  }
  .gdoor-item__col--2017-4 {
    width: 485px;
  }
  .gdoor-item__col--2018-1 {
    right: 130px;
  }
  .gdoor-item__col--2018-2 {
    right: 130px;
    top: 70px;
  }
  .gdoor-item__col--2018-3 {
    width: 595px;
  }
  .gdoor-item__col--2018-4 {
    left: 180px;
    bottom: 50px;
  }
  .gdoor-item__col--2018-5 {
    width: 690px;
  }
  .gdoor-item__col--2019-1 {
    right: 110px;
  }
  .gdoor-item__col--2019-2 {
    left: 0;
    top: 0;
    width: 712px;
  }
  .gdoor-item__col--2019-3 {
    width: 395px;
    left: 30px;
  }
  .gdoor-item__col--2019-4 {
    width: 743px;
  }
  .gdoor-item__col--2020-1 {
    width: 220px;
    left: 120px;
  }
  .gdoor-item__col--2020-2 {
    width: 710px;
  }
  .gdoor-item__col--2020-3 {
    bottom: 30px;
  }
  .gdoor-item__col--2020-4 {
    width: 380px;
  }
  .gdoor-item__col--2021-1 {
    width: 300px;
    left: 420px;
    bottom: 100px;
  }
  .gdoor-item__col--2021-2 {
    width: 650px;
  }
  .gdoor-item__col--2021-3 {
    width: 440px;
  }
  .gdoor-item__col--2021-4 {
    width: 430px;
  }
  .gdoor-item__col--2021-5 {
    width: 420px;
  }
  .gdoor-item__col--2022-1 {
    left: 0;
    width: 440px;
  }
  .gdoor-item__col--2022-3 {
    right: 220px;
  }
  .gdoor-item__stars--2017 {
    top: 110px;
  }
  .gdoor-item__stars--2018 {
    top: 125px;
  }
  .gdoor-item__stars--2019 {
    top: 136px;
  }
  .gdoor-item__stars--2020 {
    top: 102px;
  }
  .gdoor-item__stars--2021 {
    top: 130px;
  }
  .gdoor-item__stars--2022 {
    top: 130px;
    padding-right: 90px;
  }
}

@media only screen and (max-width: 1599px) and (min-width: 768px) {
  .gdoor-review__inner {
    padding: 15px 23px;
  }
}

@media only screen and (max-width: 1599px) {
  .gdoor-review__head {
    margin-bottom: 14px;
  }
}

@media only screen and (max-width: 1599px) and (min-width: 768px) {
  .gdoor-review__col:nth-child(2n) {
    margin-left: 22px;
  }
}

@media only screen and (max-width: 1599px) {
  .gdoor-review__col--2020 {
    width: 370px;
  }
  .gdoor-review__col--2021 {
    width: 200px;
  }
  .gdoor-stars {
    max-width: 860px;
  }
}

@media only screen and (max-width: 1599px) and (min-width: 768px) {
  .gdoor-simple {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1599px) and (min-width: 768px) {
  .gdoor-more {
    font-size: 18px;
    line-height: 18px;
  }
  .gdoor-more__link {
    border-width: 1px;
  }
}

@media only screen and (max-width: 1399px) {
  .gdoor-item__col--more-2020 {
    padding-left: 150px;
  }
  .gdoor-item__col--2017-3 {
    width: 340px;
  }
  .gdoor-item__col--2018-4 {
    left: 40px;
  }
  .gdoor-item__col--2019-4 {
    width: 640px;
  }
  .gdoor-item__col--2020-3 {
    right: 30px;
  }
  .gdoor-item__col--2021-1 {
    left: 370px;
  }
  .gdoor-item__col--2021-4 {
    width: 360px;
  }
  .gdoor-item__col--2021-5 {
    width: 360px;
  }
  .gdoor-item__col--2022-2 {
    width: 320px;
  }
  .gdoor-item__col--2022-3 {
    width: 320px;
    right: 190px;
  }
  .gdoor-recom {
    height: 80px;
  }
  .gdoor-recom__p {
    font-size: 28px;
    line-height: 18px;
    margin-right: 10px;
  }
  .gdoor-recom__p span {
    font-size: 18px;
  }
  .gdoor-recom__t {
    font-size: 16px;
    line-height: 20px;
    margin-top: 6px;
  }
  .gdoor-approve__p {
    width: 90px;
    margin-right: 20px;
  }
  .gdoor-approve__t {
    font-size: 16px;
    line-height: 20px;
  }
}

@media only screen and (max-width: 1279px) {
  .gdoor-item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    -webkit-transition: opacity .2s, visibility .2s;
    transition: opacity .2s, visibility .2s;
  }
  .gdoor-item:not(.active) {
    -webkit-transition: none;
    transition: none;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    left: -9999px;
    top: -9999px;
  }
  .gdoor__items {
    width: 100%;
    position: relative;
    margin-bottom: 60px;
    display: block;
  }
  .gdoor-item {
    -webkit-transition: opacity .2s, visibility .2s;
    transition: opacity .2s, visibility .2s;
  }
  .gdoor-item:not(.active) {
    position: absolute;
    left: -9999px;
    top: -9999px;
  }
  .gdoor-item__inner {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .gdoor-item__inner--2022 {
    margin-left: 0;
  }
  .gdoor-item__col, .gdoor-item__stars {
    width: 100%;
    position: relative;
    left: auto;
    top: auto;
    right: auto;
    bottom: auto;
    padding: 0;
  }
  .gdoor-item__col {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .gdoor-item__col:not(:last-child) {
    margin-bottom: 40px;
  }
  .gdoor-item__col--2022-3, .gdoor-item__col--2022-4 {
    width: auto;
  }
  .gdoor-item__stars {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 40px;
  }
  .gdoor-stars {
    max-width: 474px;
  }
  .gdoor-review {
    padding: 23px 11px 0;
  }
  .gdoor-review:after {
    width: 42px;
    height: 31px;
    right: auto;
    bottom: auto;
    left: 0;
    top: 0;
    background-image: url(/images/gdoor/quote-l.svg);
  }
  .gdoor-recom {
    max-width: 300px;
    margin-left: 11px;
    height: auto;
    padding: 15px 22px;
  }
  .gdoor-approve {
    margin-right: 11px;
  }
  .gdoor-twp {
    margin: 0 auto;
  }
  .gdoor-nav__item {
    position: relative;
  }
  .gdoor-nav__item:not(:last-child) {
    margin-right: 16px;
    padding-right: 16px;
  }
  .gdoor-nav__link {
    font-size: 16px;
    border-width: 1px;
  }
}

@media only screen and (max-width: 767px) {
  .gdoor-review__body {
    display: block;
  }
  .gdoor-review__head {
    margin-bottom: 20px;
  }
  .gdoor-review__col {
    width: 100%;
  }
  .gdoor-item__col {
    width: 100%;
  }
}